/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); Importar la fuente que pondremos en BODY */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

#sidebar {
    /*Menu lateral*/
    position: fixed;
    width: 300px;
    height: 100%;
    background: #fafafa;
    left: -300px;
    transition: all 300ms linear;
    overflow: auto;
}

#sidebar.active {
    left: 0;
}

/*LOGO Y TITULO UNI INICIO*/
#titulo {
    padding-left: 5px;
    padding-top: 5px;
}

#logo {
    width: 30px;
    height: 42px;
}

#titulo tr td {
    padding: 5px;
}

/**/

.nav__link {
    color: #262626;
    padding: 12px;
    text-decoration: none;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 2px;
    /* display: inline-block; */
    gap: 1em;
}

.nav__link--inside:hover {
    background: #ebebeb;
    width: 80%;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    align-items: center;
    display: flex;
    padding-left: 15px;
    gap: 5px;
    /*Separacion entre icono y palabra*/
    /* margin: 0 auto; */
}

.arrow .list__arrow {
    /*la animacion de la flecha con el js*/
    transform: rotate(180deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list__show {
    width: 100%;
    margin-left: 35px;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.list__inside {
    display: flex;
    gap: .5em;
}

/*FIN*/


#container__principal {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fefefe;
    background-size: cover;
    transition: all 300ms linear;
}

#container__principal.move {
    left: 300px;
    transition: all 300ms linear;
    max-width: calc(100% - 300px);
}

.mi-iframe {
    width: 100%;
    height: 100%;
}


/*NAVEGADOR AZUL*/

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 60px;
    background: rgb(34, 79, 177);
    align-items: center;
    padding: 5px;
    line-height: 50px;
    text-align: center;
}

.toggle-btn {
    /* Formato a las 3 lineas*/
    cursor: pointer;
    width: 4%;
    /* border: 1px solid #ebebeb; */

}

.toggle-btn span {
    text-align: center;
    font-size: 18px;
    color: #fefefe;
}

.user {
    margin-left: 12px;
    width: 91%;
    font-size: 18px;
    color: #fefefe;
    text-align: left;
}

.options {
    position: relative;
    list-style: none;
    width: 5%;
    float: right;
    border-radius: 30px;
    font-size: 24px;
    color: white;
    /* border: 1px solid; */
    cursor: pointer;
}

.cont-menu {
    background-color: #fefefe;
    width: 150px;
    height: 100vh;
    position: absolute;
    top: 64px;
    right: 0;
    transition: all .5s ease;
    display: none;
}

.cont-menu ul {
    list-style: none;

}

.cont-menu ul li {
    color: #212121;
    display: block;
    font-size: 15px;
    text-decoration: none;
    /* padding: 10px 20px; */
    cursor: pointer;
}

.cont-menu ul li:hover {
    background-color: #6c757d;
}

.active {
    display: block;
}



/* inicio */

.container__inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome {
    font-size: 3rem;
    width: 100%;
    display: inline-block;
    padding-top: 180px;
    color: #3b3b3b;
    letter-spacing: 8px;

}

.zona{
    font-size: 3rem;
    width: 100%;
    color: #3b3b3b;
    padding-top: 20px;
    font-weight: bold;
    letter-spacing: 10px;
}


