<form action="post">
    <div id="First">
        <span> Sexo </span>
        <select name="Sexo">
            <option value="Masculino" selected> Masculino </option>
            <option value="Femenino"> Femenino </option>
        </select>
        <span> Fecha Nacimiento</span>
        <input type="date" value="2023-05-01">
        <span>Telefono Fijo <img src="assets/edit.svg"></span> 
        <input type="text">
        <span> RUC </span>
        <input type="number">
        <span> Brevete y Categoria </span>
        <input type="text">
        <span> Estado Civil </span>
        <select name="EstadoCivil" aria-placeholder="--Seleccione">
            <option value="Casado"> Casado </option>
            <option value="Soltero"> Soltero </option>
            <option value="Viudo"> Viudo </option>
            <option value="Divorciado"> Divorciado </option>
    </div>

</form>